<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Team Cualquiera</title>
</head>
<body sec:authorize="isAuthenticated()">

    <div id="menu-icon" class="menu-icon">
        <img src="../images/barras.png" alt="">
    </div>

    <div id="menu" class="menu_izquierdo">
        <img src="https://res.cloudinary.com/samuelrm5/image/upload/v1663172037/logoBlanco_oikm1r.png" alt="">
        <a href="/inicio">Inicio</a>
        <a href="/ingresos" id="btnIngresos">Ingresos y egresos</a>
        <a class="active" id="btnUsuarios">Usuarios</a>
        <a href="/empresas" id="btnEmpresas">Empresas</a>
        <div id="layer" class="close hidden"></div>
    </div>
    <header>
        <img src="https://res.cloudinary.com/samuelrm5/image/upload/v1663172037/logoBlanco_oikm1r.png" alt="logo">
    </header>

    <!------------ Código aquí ------------>

    <div class="cuadros_inicio">
        <div id="usuarioSection" class="ingresosSection">
            <h1>Sistema de gestión de Empleado</h1>
            <h2>Empleados</h2>
            <a href="/usuarios"><img src="./images/flecha.png" /></a>
            <form th:action="@{/api/users}" th:method="post" th:object="${employee}">
                <fieldset>
                    <legend>Crea tu empleado</legend>
                    <select th:field="*{enterprise}">
                        <option disabled selected value="">Selecciona una empresa</option>
                        <option th:each="enterprise : ${enterprises}" th:text="${enterprise.name}" th:value="${enterprise.id}"></option>
                    </select>
                    <input th:field="*{employeeId}" placeholder="Documento" type="text">
                    <input th:field="*{email}" placeholder="Email" type="email">
                    <input th:field="*{phone}" placeholder="Teléfono" type="text">
                    <div class="radios">
                        <input th:field="*{role}" class="radio" type="radio" name="rol" value="Operario">
                        <label for="operario">Operario</label>
                        <input th:field="*{role}" class="radio" type="radio" name="rol" value="Admin">
                        <label for="admin">Admin</label>
                    </div>
                    <button>Crear</button>
                </fieldset>
            </form>
        </div>
    </div>

    <!-------------------------------------->
    <script th:src="@{/js/index.js}"></script>
</body>
<body sec:authorize="!isAuthenticated()">
    <div class="cuadros_inicio confused">
        <img src="../images/confused.jpg" alt="">
        <div class="btn">
            <p>Al parecer estás en el lugar equivocado</p>
            <a href="/">Volver</a>
        </div>
    </div>
</body>
</html>